.contact {
  padding: 0 2rem;

  @include addMediaQuery(laptop) {
    padding: 2rem 2rem;
  }
  &__social-list {
    padding-left: 0;
    list-style: none;
  }

  &__social-link {
    margin-right: 1rem;
  }
}
