// Variables
$color-star: #FFB800;

// Base styles
// body {
//     direction: rtl;
//     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
// }


// Individual testimonial
.testimonial {
    padding: 20px;

    &__content {
        background-color: $color-primary-dark;
        border-radius: 4px;
        padding: 1.6rem 1.9rem;
        position: relative;
        margin-bottom: 3.6rem;

        &::after {
            content: '';
            position: absolute;
            bottom: -3.3rem;
            right: 0;
            width: 0;
            height: 0;
            border-left: 4.5rem solid transparent;
            border-right: 4.5rem solid transparent;
            border-top: 7rem solid $color-primary;
            z-index: -1;
        }
    }

    &__quote {
        color: $color-secondary;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0;
        margin-bottom: 3.1rem;
    }

    &__rating {
        display: flex;
        gap: 4px;
    }

    &__star {
        color: $color-star;
        font-size: 18px;
    }

    &__author {
        display: flex;
        align-items: center;
        padding-right: 20px;
    }

    &__avatar {
        border-radius: 50%;
        margin-left: 12px;
        object-fit: cover;
    }

    &__name {
        color: $color-black;
        font-family: 'Readex Pro', sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 0;
        margin-right: 1.4rem;

    }

    &__nav-arrows-group {
        display: flex;
        justify-content: end;
        margin-top: 3rem;

        @include addMediaQuery(laptop) {
            justify-content: start;

        }
    }

    &__arrow {
        border-radius: 4px;
        background-color: $color-tertiary;
        width: 4.6rem;
        height: 4.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1.85rem;
        user-select: none;
        cursor: pointer;
        transition: all 100ms ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(1.05);
        }

        img {
            width: 1.3rem;
            height: auto;
        }

        &--next {
            img {
                transform: rotate(180deg);
            }
        }

        &--prev {

            // img {
            //     transform: rotate(180deg);
            // }

        }
    }

    &__photo-box {
        width: 5.3rem;
        height: 5.3rem;
    }

    &__icon {
        width: 3.5rem !important;
    }
}
