.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include addMediaQuery(tablet) {
        margin: 3rem 0;
      }

    &__container {
        display: flex;
        justify-content: space-between;

        @include addMediaQuery(tablet) {
            flex-direction: column;
          }
    }

    &__icon {
        width: 6rem;
        height: 6rem;
        margin-bottom: 3.7rem;
    }

    &__digits {
        font-family: 'Lalezar', sans-serif;
        font-weight: 400;
        font-size: 6rem;
        line-height: 7.4rem;
        letter-spacing: 0;
        color: $color-white;
        margin-bottom: 1rem;

    }

    &__text {
        font-family: 'Readex Pro', sans-serif;
        font-weight: 300;
        font-size: 3rem;
        line-height: 3.2rem;
        letter-spacing: 0;
        color: $color-white;
    }
}