@keyframes marquee {
    from {
        transform: translateX(calc(100vw + 64rem));
        }
    to { 
      transform: translateX(-100%);
    }
  }

//   @keyframes scroll {
//     from {
//       transform: translateX(200%);
//     }
//     to {
//       transform: translateX(calc(-100% - var(--gap)));
//     }
//   }
  
@keyframes phone-left {
    0% {
        transform: translate(3rem ,3rem);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes phone-middle {
    0% {
        transform: translate(-50%, 3rem);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

@keyframes phone-right {
    0% {
        transform: translate(-3rem ,3rem);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}