.hero {
  // background-color: $color-grey-1;
  padding: 10.1rem 0 5rem 0;
  background-blend-mode: multiply;

  @include addMediaQuery(tablet) {
    padding: 5rem 0 5rem 0;

  }

  &__text-block {
    display: flex;
    justify-content: center;
    // height: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 40;

    @include addMediaQuery(laptop) {
      text-align: center;
    }
  }

  &__primary {
    text-align: center;
    width: 60%;

    @include addMediaQuery(laptop) {
      width: 100%;
    }

  }

  &__cta {
    display: flex;
    justify-content: center;
    align-items: baseline;


    &--apple {
      width: 17.2rem;
      margin: 0 1rem;

      img {
        width: 100%;
      }

      @include addMediaQuery(phone-l) {
        width: 50%;

      }

    }

    &--google {
      width: 17.2rem;
      margin: 0 1rem;

      img {
        width: 100%;
      }

      @include addMediaQuery(phone-l) {
        width: 50%;

      }
    }
  }

  &__text {
    width: 45%;
    text-align: center;

    @include addMediaQuery(laptop) {
      width: 100%;
    }
  }

  &__phones-container {
    position: relative;
    z-index: 500;
    height: 100%;
    max-width: 96rem;
    margin: 0 auto;

    @include addMediaQuery(laptop) {
      max-width: 50rem;

    }

    @include addMediaQuery(phone-l) {
      // height: auto;
      width: 100%;
    }
  }

  &__phone {
    position: absolute;

    @include addMediaQuery(laptop) {
      // height: auto;
      width: 40%;
    }
    @include addMediaQuery(phone-l) {
      // height: auto;
      width: 40%;
    }
    &--1 {
      left: 0;
      bottom: 0;
      z-index: 20;
      opacity: 0;
      animation: phone-left 1s ease-in-out 0.3s 1 normal forwards;
    }

    &--2 {
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      z-index: 30;
      opacity: 0;
      animation: phone-middle 1s ease-in-out 0.5s 1 normal forwards;

    }

    &--3 {
      right: 0;
      bottom: 0;
      z-index: 10;
      opacity: 0;
      animation: phone-right 1s ease-in-out 0.7s 1 normal forwards;
    }
  }

  &__shape-container {
    position: relative;
    height: 60rem;
    transform: translateY(1rem);
    
    // img {
    //   @include addMediaQuery(laptop) {
    //     height: 35rem;
    //   }

    //   @include addMediaQuery(laptop) {
    //     height: 20rem;
    //   }

    //   @include addMediaQuery(phone-l) {
    //     height: auto;
    //     width: 100%;
    //   }
    // }
    @include addMediaQuery(laptop) {
      height: 30rem;
    }


  }

  &__shape {
    &--1 {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 20;
    }

    &--2 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      bottom: 0;


        @include addMediaQuery(laptop) {
          height: 30rem;
        }
  
        // @include addMediaQuery(laptop) {
        //   height: 20rem;
        // }
  
        @include addMediaQuery(phone-l) {
          height: auto;
          width: 100%;
        }

    }
  }

  &__banner {
    position: absolute;
    background-color: $color-primary;
    padding: 8rem 0;
    width: 100%;
    left: 0;
    transform: translateY(-9.3rem);
    z-index: 40;
    overflow: hidden;
    clip-path: polygon(0 54%, 100% 0, 100% 46%, 0% 100%);

    @include addMediaQuery(desktop) {
      font-size: 2rem;
      transform: translateY(-9rem);

    }

    @include addMediaQuery(laptop-l) {
      clip-path: unset;
      padding: 2rem 0;
      transform: translateY(0);
    }

    @include addMediaQuery(tablet) {
      padding: 2rem 0;
    }
    }
        
  &__banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 155rem;
    margin: 0 auto;
    padding: 0 20px;
    transform: rotate(-3.38deg);

    @include addMediaQuery(desktop) {
      transform: rotate(-5.3deg);
    }

    @include addMediaQuery(laptop-l) {
      transform: rotate(0);
    }

    @include addMediaQuery(tablet) {
      animation: marquee 10s linear infinite;
      flex-shrink: 0;
    }

}

&__banner-item {
    color: $color-secondary;
    text-align: center;
    position: relative;
    font-family: 'Lalezar', sans-serif;
    font-weight: 400;
    font-size: 3.192rem;
    line-height: 5.32rem;
    letter-spacing: 0;


    &:not(:first-child)::after {
      content: '';
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      right: -64px;
      background-image: url("../img/shape-letter-t.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include addMediaQuery(desktop) {
        width: 20px;
        height: 20px;
        margin-right: 2rem;

      }

      @include addMediaQuery(tablet) {
        position: unset;
        transform: translateY(0);
        margin-right: 2rem;
      }
  
    }

    @include addMediaQuery(desktop) {
      font-size: 2rem;
    }

    @include addMediaQuery(laptop) {
      font-size: 1.2rem;
    }

    @include addMediaQuery(tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      flex-shrink: 0;
      margin: 0 2rem;
    }
  }
}

.features {
  padding-bottom: 20rem;
  
  &__column-reverse {
    
    @include addMediaQuery(laptop) {
      flex-direction: column-reverse;
    }
  }
  @include addMediaQuery(laptop) {
    direction: rtl;

  }
  &__text {
    padding: 0 7rem 0 17rem;
    margin-top: 2rem;

    @include addMediaQuery(laptop) {
      padding: 1rem 0;
      text-align: center;
  
    }
  }
}

.section-app {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(245, 238, 223, 0.5);
    transform: skewY(356.6deg);
    z-index: -1;
  }
  
  padding: 8rem 0;

  &__image-container {
    height: 22.5rem;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(94.42deg, rgba(0, 198, 125, 0) 14.78%, rgba(0, 198, 125, 0.3) 97.26%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }

    &--radius-1 {
      border-radius: 3.1rem;

    }

    &--radius-2 {
      border-radius: 2000px;

    }
    // &::before {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   background-image: url("../img/shape-2.svg");
    // }
  }

  &__image {
    width: 100%;
    position: absolute;



    &--1 {
      top: -6rem;
      transform: scaleX(-1);

      @include addMediaQuery(laptop) {
        right: 0;
      }

      @include addMediaQuery(phone-l) {
        right: 0;
        bottom: 0;
        top: unset;
        margin-top: 0 !important;
        width: 150%;


      }

    }

    &--2 {
      top: -23rem;
      transform: scaleX(-1);

      @include addMediaQuery(laptop) {
        right: 0;


      }

      @include addMediaQuery(phone-l) {
        right: 0;
        top: -4rem;
        margin-top: 0;
        bottom: 0;
        top: unset;
      }

    }

    &--3 {
      top: -19rem;

      @include addMediaQuery(desktop) {
        top: -12rem;

      }

      @include addMediaQuery(laptop) {
        right: 0;
        top: -2rem;
        margin-top: 0 !important;

      }

      @include addMediaQuery(phone-l) {
        bottom: 0;
        top: unset;
        margin-top: 0 !important;
        width: 150%;

      }
    }
  }

  &__shape {
    position: absolute;
    z-index: -1;
    &--1 {
      top: -1rem;
      left: 9rem;

      @include addMediaQuery(laptop) {
        width: 20%;
        top: unset;
        bottom: -5rem;
        right: 1rem;

      }
    }

    &--2 {
      top: 1rem;
      left: 1%;

      @include addMediaQuery(laptop) {
        width: 20%;
      }
    }

    &--3 {
      left: 0;
      top: 8rem;

      @include addMediaQuery(laptop) {
        width: 20%;
      }
    }
  }
  &__photo-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-top: 3rem;

    position: relative;
    @include addMediaQuery(laptop) {
      text-align: center;
      height: unset;
    }
    
  }

  img {
    @include addMediaQuery(laptop) {
      margin-top: 5rem;
    }
  }

  &__text-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    &--margin {
      margin-top: 7rem;
      padding: 0 7rem;
    }

    &--margin-2 {
      margin-top: 5rem;
      padding: 0 7rem 0 19rem;
    }

    &--padding {
      padding-left: 7rem;
    }

    &--desktop {
      display: flex;

      @include addMediaQuery(laptop) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include addMediaQuery(laptop) {
        display: block;
        height: auto;
      }
    }

    @include addMediaQuery(laptop) {
      text-align: center;
      padding: 2rem 0;
    }
  }
}

.section-about-us {
  position: relative;
  padding: 40rem 0 30rem 0;
  background-image: url(../img/shape-letter-O.svg);
  background-repeat: no-repeat;
  background-position: right 8rem;
  background-size: 70rem;

  @include addMediaQuery(laptop) {
    background-size: 30rem;
    padding: 17rem 0 12rem 0;

  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(245, 238, 223, 0.5);
    transform: skewY(356.6deg);
    z-index: -1;
  }

  &__title {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
  }
}


@mixin respond-to($breakpoint) {
    @media (max-width: #{$breakpoint}) {
        @content;
    }
}

.download {
    $self: &;
    position: relative;
    background-color: $color-primary;
    // min-height: 500px;
    margin-top: -3.5%;
    overflow: hidden;
    // padding: 60px 0;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        // transform: translateY(-50%);
        width: 47rem;
        height: 46.5rem;
        background: url('../img/shape-letter-O-gray.svg') center/contain no-repeat;
        // opacity: 0.1;
    }

    // Container
    &__container {
      max-width: 155.8rem;
      margin: 0 auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include addMediaQuery(laptop) {
            flex-direction: column;
            text-align: center;
            padding: 5rem 1rem;

        }
    }

    // Phones Section
    &__phones {
        flex: 0 0 60%;
        position: relative;

        @include addMediaQuery(laptop) {
            margin-bottom: 2rem;
            display: none;

        }

        // @include addMediaQuery(lap) {
        // }
    }

    &__phones-image {
        // width: 100%;
        // max-width: 600px;
        // height: 100%;
        // transform: rotate(-10deg);
    }

    // Content Section
    &__content {
        flex: 0 0 40%;
        text-align: right;
        color: $color-white;

        @include addMediaQuery(laptop) {
            text-align: center;
        }
    }

    &__title {
      font-family: 'Readex Pro', sans-serif;
      font-weight: 500;
      font-size: 3.6rem;
      line-height: 5.2rem;
      letter-spacing: 0;
      margin-bottom: 7.6rem;      

      @include addMediaQuery(laptop) {
            font-size: 2rem;
        }
    }

    // Store Buttons
    &__stores {
        display: flex;
        gap: 1rem;
        // justify-content: flex-end;

        @include addMediaQuery(laptop) {
            justify-content: center;
        }
    }

    &__store-link {
        display: inline-block;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }
    }

    &__store-image {
        height: 50px;
        width: auto;

        @include addMediaQuery(phone-l) {
          width: 100%;
          height: auto;
        }
    }
}

.section-partners {
  padding: 16.5rem 0;

  @include addMediaQuery(laptop) {
    padding: 10.5rem 0;
  }

  &__photo-box {
    position: relative;

    @include addMediaQuery(laptop) {
      margin: 1rem 0;
    }

    img {
      width: 100%;
    }
  }

  &__photo-window {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.section-numbers {
  position: relative;
  padding: 11.1rem 0;
  // background-color: rgba($color-primary, 1);
  background-image: linear-gradient(rgba($color-primary, 0.83), rgba($color-primary, 0.83)), url(../img/photo-1.png);
  // background-blend-mode: multiply;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 88%);
  background-position-y: 39%;
  background-size: cover;

  @include addMediaQuery(laptop) {
    clip-path: unset;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    // transform: translateY(-50%);
    width: 47rem;
    height: 46.5rem;
    background: url('../img/shape-letter-t-circle.svg') center/contain no-repeat;
    z-index: -1;

    @include addMediaQuery(desktop) {
      opacity: 0.3;
    }
    @include addMediaQuery(tablet) {
      display: none;
    }

}

@include addMediaQuery(tablet) {
  clip-path: unset;

}
}

.section-phones {
  position: relative;
  padding: 12.3rem 0;

  @include addMediaQuery(tablet) {
    padding: 8.3rem 0;
  
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5%;
    background-color: rgba($color-secondary, 0.5);
    transform: skewY(361.6deg);
    z-index: -1;

    @include addMediaQuery(laptop) {
      transform: unset;
      top: 0;
    }

  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;

    @include addMediaQuery(laptop) {
      margin: 2rem 0;
    }

    h1 {
      @include addMediaQuery(laptop-l) {
        font-size: 3rem;

  }
    }

    p {
      font-family: 'IBM Plex Sans Arabic', sans-serif;
      font-weight: 500;
      font-size: 3.2rem;
      line-height: 4.7rem;
      letter-spacing: 0;
      padding: 0 4rem;

      @include addMediaQuery(laptop-l) {
            font-size: 2rem;

      }
    }
  }
}

.section-testimonials {
  position: relative;
  padding: 12rem 0 22rem 0;

  @include addMediaQuery(laptop-l) {
    padding: 5rem 0 20rem 0;

}
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5.7rem;
    background-color: rgba(245, 238, 223, 0.5);
    transform: skewY(-358.4deg);
    z-index: -1;

    @include addMediaQuery(laptop-l) {
      top: -4.8rem;
    }

    @include addMediaQuery(laptop) {
      transform: unset;
      top: 0;
    }

    // @include addMediaQuery(tablet) {
    //   top: -9.7rem;
    // }

    @include addMediaQuery(tablet) {
      transform: unset;
      top: 0;
    }

  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 1rem;
    left: 0;
    width: 30rem;
    height: 34rem;
    background-repeat: no-repeat;
    background-image: url(../img/shape-5.svg);
    z-index: -1;
  }
  &__text {
    max-width: 79rem;

    p {
      font-family: 'IBM Plex Sans Arabic', sans-serif;
      font-weight: 400;
      font-size: 3rem;
      line-height: 4.5rem;
      letter-spacing: 0;
    }
  }
}
